Repository atsushifx/tech-article-reviewer: changes, and which lefthook commands are due for each by the changed paths.
All: secretlint, textlint, markdownlint

lefthook.yml:

# src: lefthook.yml
## @(#) : lefthook config
#
# @version  1.0.1
# @date     2025-04-25
# @author   Furukawa, Atsushi <atsushifx@gmail.com>
# @license  MIT
#
# @description<<
#
# Git hook configuration powered by Lefthook.
# Ensures commit hygiene with secret scanning and commit message linting.
#
#<<

pre-commit:
  parallel: true
  commands:
    gitleaks:
      run: gitleaks protect --config ./configs/gitleaks.toml --staged

    secretlint:
      glob: "**/*"
      run: >
        secretlint
        --secretlintrc ./configs/secretlint.config.yaml
        --secretlintignore .gitignore
        --maskSecrets
        "{staged_files}"

    textlint:
      glob: "**/*.md"
      run: >
        textlint
        --config ./configs/textlintrc.yaml
        --cache
        --cache-location .cache/textlint_cache
        "{staged_files}"

    markdownlint:
      glob: "**/*.md"
      run: >
        markdownlint-cli2
        --config ./configs/.markdownlint.yaml
        "{staged_files}"

commit-msg:
  parallel: true
  commands:
    commitlint:
      run: commitlint --config ./configs/commitlint.config.js --edit

chore(gitignore): ignore cache
  .cache/textlintcache
  .gitignore
Due: secretlint

feat(prompt): header comment changes to yaml frontmatter
  tech-articles-prompt/article-proofreading.prompt
  tech-articles-prompt/article-review.prompt
  tech-articles-prompt/article-writer.prompt
Due: secretlint

feat(dprint): add markdown to format
  dprint.jsonc
Due: none

ci(workflow): update gitleaks version
  .github/workflows/ci-secrets-scan.yaml
Due: secretlint

build: remove all CLI/Apps settings
  .commitlintrc.ts
  .gitignore
  .secretlintrc.yml
  .vscode/cspell.json
  .vscode/cspell/dicts/project.dic
  LICENSE
  LICENSE.ja
  apps/cli/package.json
  apps/cli/src/cli.ts
  apps/cli/tsconfig.json
  configs/.markdownlint.yaml
  configs/.textlint/allowlist.yml
  configs/.textlint/dict/prh-atsushifx.yml
  configs/.textlint/dict/prh.yml
  configs/.textlint/dict/smarthr/prh-idiomatic-usage.yml
  configs/commitlint.config.js
  configs/gitleaks.toml
  configs/package.json
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  configs/typescript/tsconfig.base.json
  dprint.json
  dprint.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/prepare-commit-msg.sh
Due: secretlint

feat(review-prompt): オンボーディングドキュメント用プロンプトを強化
  tech-articles-prompt/article-review.prompt
Due: secretlint

docs(prompt): サブコマンド使用ガイドを追加して、プロンプトを強化
  tech-articles-prompt/article-review.prompt
Due: secretlint

docs(prompt): オンボーディングの詳細を削除
  tech-articles-prompt/article-review.prompt
Due: secretlint

merge (#24)
  .commitlintrc.ts
  .gitignore
  .secretlintrc.yml
  .vscode/cspell.json
  .vscode/cspell/dicts/project.dic
  LICENSE
  LICENSE.ja
  apps/cli/package.json
  apps/cli/src/cli.ts
  apps/cli/tsconfig.json
  configs/.markdownlint.yaml
  configs/.textlint/allowlist.yml
  configs/.textlint/dict/prh-atsushifx.yml
  configs/.textlint/dict/prh.yml
  configs/.textlint/dict/smarthr/prh-idiomatic-usage.yml
  configs/commitlint.config.js
  configs/gitleaks.toml
  configs/package.json
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  configs/typescript/tsconfig.base.json
  dprint.json
  dprint.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/prepare-commit-msg.sh
  tech-articles-prompt/article-review.prompt
Due: secretlint

merge (#25): chore(lint): 各種Linter設定をconfigs/ディレクトリに統合
  .editorconfig
  .gitignore
  .vscode/cspell.json
  configs/commitlint.config.cjs
  dprint.jsonc
  lefthook.yml
Due: secretlint

scripts: refresh commit message generation flow and fix detection logic
  .claude/agents/commit-message-generator.md
Due: secretlint, textlint, markdownlint

config: update and unify project configuration files
  .editorconfig
  .gitignore
  configs/.textlint/allowlist.yml
  configs/commitlint.config.cjs
  configs/commitlint.config.js
  configs/gitleaks.toml
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  dprint.jsonc
  lefthook.yml
  scripts/prepare-commit-msg.sh
Due: secretlint

deps(pnpm): pnpm ロックファイル追加と lefthook 用 prepare を設定
  package.json
  pnpm-lock.yaml
Due: none

merge (#27): config: update and unify project configuration files
  .claude/agents/commit-message-generator.md
  .editorconfig
  .gitignore
  configs/.textlint/allowlist.yml
  configs/commitlint.config.cjs
  configs/commitlint.config.js
  configs/gitleaks.toml
  configs/secretlint.config.yaml
  configs/textlintrc.yaml
  dprint.jsonc
  lefthook.yml
  package.json
  pnpm-lock.yaml
  scripts/prepare-commit-msg.sh
Due: secretlint, textlint, markdownlint

Create codeql.yml
  .github/workflows/codeql.yml
Due: secretlint

ci(codeql): codeql のワークフローをcodeql-actions-onlyとして作成
  .github/workflows/codeql-actions-only
Due: secretlint

ci(codeql): codeql のワークフローをcodeql-actions-onlyとして作成 (#30)
  .github/workflows/codeql-actions-only
Due: secretlint

Create dependabot.yml
  .github/dependabot.yml
Due: secretlint

Create codeql-with-actions.yml
  .github/workflows/codeql-with-actions.yml
Due: secretlint

merge (#31): Create codeql-with-actions.yml
  .github/workflows/codeql-with-actions.yml
Due: secretlint

config(dependabot): dependabot の package-ecosystem を bundler に修正
  .github/dependabot.yml
Due: secretlint

ci: add unified scan workflow and consolidate/improve CodeQL configuration
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only
  .github/workflows/codeql-with-actions.yml
Due: secretlint

merge (#32): ci(workflows): unify scan workflow and improve codeql configuration
  .github/dependabot.yml
  .github/workflows/ci-scan-all.yml
  .github/workflows/codeql-actions-only
  .github/workflows/codeql-with-actions.yml
Due: secretlint

config(textlint): SmartHR表記ガイド準拠の辞書を拡充・正規表現を改善
  configs/.textlint/dict/smarthr/prh-idiomatic-usage.yml
Due: secretlint

config(gitignore): .gitignore を更新して CLAUDE.md を追跡
  .gitignore
Due: none

config(github): GitHub Issue テンプレートを追加
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_improvement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/open_topic.yml
  .github/ISSUE_TEMPLATE/question.yml
Due: secretlint

config(npm): package.json の scripts.prepare のインデントをタブからスペースへ統一
  package.json
Due: none

config(cspell): cspell 設定の構文修正と辞書語彙の追加
  .vscode/cspell.json
  .vscode/cspell/dicts/project.dic
Due: secretlint

merge (#34): config(multiple): improve project configuration and developer experience
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_improvement.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/open_topic.yml
  .github/ISSUE_TEMPLATE/question.yml
  .gitignore
  .vscode/cspell.json
  .vscode/cspell/dicts/project.dic
  configs/.textlint/dict/smarthr/prh-idiomatic-usage.yml
  package.json
Due: secretlint

docs(claude): AI・開発者向けガイド CLAUDE.md を追加
  CLAUDE.md
  README.ja.md
  README.md
Due: none

docs(security): セキュリティポリシーを追加し報告手順とサポート範囲を明示
  .github/SECURITY.md
Due: secretlint, textlint, markdownlint

docs(contributing): コントリビューションガイドを日本語版・英語版で追加
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: none

merge (#35): docs(multiple): ドキュメント整備とセットアップガイド追加
  .github/SECURITY.md
  CLAUDE.md
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  README.ja.md
  README.md
Due: secretlint, textlint, markdownlint

ci(workflows): codeql ワークフローで使用するアクションを更新
  .github/workflows/codeql-with-actions.yml
Due: secretlint

config(gitignore): node_modules を .gitignore に追加
  .gitignore
Due: none

merge (#36): ci(deps): update github actions dependencies and improve gitignore
  .github/workflows/codeql-with-actions.yml
  .gitignore
Due: secretlint

docs(prompts): 記事テンプレートを reusable workflow 向けに刷新
  tech-articles-prompt/article-writer.prompt
Due: secretlint

docs(prompts): write の仕様を拡張し短縮形 /w と追記動作を追加
  tech-articles-prompt/article-writer.prompt
Due: secretlint
